<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div><p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
  <div>
    <h2>Mars:</h2>
    <h3>Max Temp: {{mars.title}}</h3>
    <h3>Min Temp: {{mars.teaser}}</h3>
    <img src="{{ mars.image_of_mars }}" alt="Mars Latest">
    
    <br>
        
    <div class="table-responsive">
        <h3>Mars Facts</h3>
            <table class="table">
                    {{mars.mars_facts}}
            </table>
      </div>
            <br>
            
    <img src="{{ mars.mars_hemisphere_image_urls }}" alt="Mars Hemispheres">
            <br>   
</div>
  </div>
</body>

</html>